<h2>Goalevents <mark>index</mark></h2>
<br>

<% @goalevents.each do |goalevent| %>
	<small>
		(<%= goalevent.id %>)

		<strong>
			<%= goalevent.player.name %>
		</strong>

		<%if goalevent.penalty? %>
			(Penalty
		<%elsif goalevent.autogoal? %>
			(Autogoal
		<%else%>
			(<%= goalevent.eventtype.name.capitalize %>
		<%end%>
		
		 at <%= goalevent.goal.minute %>')
		| 
		xCoord: <%= goalevent.startdepth %>
		yCoord: <%= goalevent.startwidth %>

		|
		#<%= goalevent.goal.fixture.hometeam.club.acronym %><%= goalevent.goal.fixture.awayteam.club.acronym %>
	</small>
	
	


	<br>
<% end %>