<h2>Fixtures <mark>edit</mark></h2>
<br>

<%= form_for @fixture do |f| %>
	<%= f.label :scorehome, @fixture.hometeam.club.acronym %>
	<%= f.number_field :scorehome %>

	<%= f.label :scoreaway, @fixture.awayteam.club.acronym %>
	<%= f.number_field :scoreaway %>

	<%= f.hidden_field :status, :value => 'played' %>

	<%= f.submit 'Update score', class: "primary-btn" %>
<% end %>
