<h2>Fixtures <mark>edit</mark></h2>
<br>

<div class="form-container">

<div>

	<%= form_for @fixture, html: {class: 'score-edit-form'} do |f| %>
	
		<div>
			<%= f.text_field :scorehome, class: 'scoreinput' %>
			<p class="input-label">
				<%= f.label :scorehome, @fixture.hometeam.club.acronym, class:'input-label' %>
			</p>
		</div>

		<div>
			<%= f.text_field :scoreaway, class: 'scoreinput' %>
			<p class="input-label">
				<%= f.label :scoreaway, @fixture.awayteam.club.acronym, class:'input-label' %>
			</p>
		</div>

		<%= f.hidden_field :status, :value => 'played' %>

</div>

<%= f.submit 'Update score', class: "primary-btn margin-top" %>

<% end %>

</div>