<h2>Main menu</h2>

<br>&#x1F5DE; <%= link_to "List of Reply", competitions_path, class:"gotolink" %>
<br>&#x1F6E1;<%= link_to "List of clubs", clubs_path, class:"gotolink"  %> 
<br>&#x1F465;<%= link_to "List of teams", teams_path, class:"gotolink"  %> 
<br>&#x1F5D3;<%= link_to "List of seasons", seasons_path, class:"gotolink"  %> 
<br>&#x1F9B8;<%= link_to "List of players", players_path, class:"gotolink"  %> 
<br>&#x1F3DF;<%= link_to "List of fixtures", fixtures_path, class:"gotolink"  %> 
<br>&#x1F39B;<%= link_to "List of event types", eventtypes_path, class:"gotolink"  %> 
<br>&#x26BD;<%= link_to "List of goals", goals_path, class:"gotolink"  %> 
<br>&#x1F52B;<%= link_to "List of goal events", goalevents_path, class:"gotolink"  %> 
<br>&#x1F3A8;<%= link_to "Design system", designsystem_path, class:"gotolink"  %> 