<h2>Goals <mark>index</mark></h2>
<br>

<% @goals.each do |goal| %>
	<small>
		(<%= goal.id %>)
	</small>
	<small>
		#<%=goal.fixture.hometeam.club.acronym%><%=goal.fixture.awayteam.club.acronym%> | 
	</small>
	Goal for
	<strong>
		<%=goal.team.club.shortname%>
	</strong>
	<small>
		(<%=goal.minute%> min)
	</small>	
	<br>
<% end %>