<h2>Fixtures <mark>new</mark></h2>
<br>

<%= form_for @goal do |g| %>

	<%= g.hidden_field :fixture, :value => "#{@passed_fixture.id}" %>

	<%= g.label :team, @passed_fixture.hometeam.club.acronym %>
    <%= g.radio_button :team, "#{@passed_fixture.hometeam.id}" %>

    <%= g.label :team, @passed_fixture.awayteam.club.acronym %>
    <%= g.radio_button :team, "#{@passed_fixture.awayteam.id}" %>

    <br><br>
    <%= g.nested_fields_for :goalevents do |e| %>

        <%= e.label :player, "Player"%>
        <%= e.select(:player, options_for_select(@players)) %>
        <br>
        <small>
            <%= link_to "Can't find your player?", new_player_path %> 
        </small>

        <br><br>

        <%= g.text_field :minute, class: 'form-input' %>
        <%= g.label :minute, "Min" %>

        <br>

        <%= e.hidden_field :startdepth %>
        <%= e.hidden_field :startwidth %>

        <%= e.hidden_field :enddepth %>
        <%= e.hidden_field :endwidth %>

        <br>

        <div class="goalcoords">
            <small>Goal start coords: </small><br>
            <small>Goal end coords: </small>
        </div>

        <div class="pitchsvgcontainer">
            <%= svg 'pitch' %>
        </div>

        <div id="pitch" class="pitch">
        </div>
        
        <br>

        <%= label :penalty, "Penalty", value: false %>
        <%= e.radio_button :penalty, true, :value => true%>

    <% end %>

    <%= g.submit 'Create goal', class: "primary-btn margin-top" %>

<%end%>

<br>
<input type="radio" id="startgoal" name="goal" checked>
<label for="startgoal">Start point</label>
<input type="radio" id="endgoal" name="goal" >
<label for="endgoal">End point</label>

<br><br>

<% unless @savedgoals.nil? %>
	<% @savedgoals.each do |b| %>
		<%= b.team.club.shortname %> (<%= b.minute %>)
		<br>
	<% end %>
<% end %>