<div class="goalcontainer">

	<div class="goalcard">

		<div class="goalcard-header">
			<!-- <%=image_tag("beckham.jpg", class: "goalcard-header-scoreravatar")%> -->
			<div class="goalcard-header-shirtavatar">
				<%=@scorer.shirtnumber%>
			</div>
			<div class="goalcard-header-scorerinfo">
				<p class="scorer">
					<!-- TO BE REPLACED BY A HELPER LATER ON! -->
					<a href="">
					<%=@scorer.forename%> <%=@scorer.name%>
					</a>
				 <small>
				  (<%=@goal.team.club.acronym%>)
				 </small>
				</p>
				<p class="game-info"><%=@goal.fixture.scorehome%>-<%=@goal.fixture.scoreaway%> (<%=@goal.minute%>') <%=@goal.fixture.hometeam.club.shortname%> v <%=@goal.fixture.awayteam.club.shortname%></p>
			</div>
			<div class="share-btn">
				<%= svg 'share-btn' %>
			</div>
		</div>

		<div class="goalcard-content">

			<div class="goalcard-pitch">


				<%@goalevents.each do |event|%>

	        		<div id="start" class="point_container" style="left:<%=event.startwidth-7%>px;top:<%=event.startdepth-10%>px;">
		        		<div class="pointer_start"></div>
		        		<div class="pointer_name">
		        			<%=@scorer.name.upcase%>
		        		</div>
	        		</div>

	        		<div id="stop" class="pointer_end pointer_end_goals_show" style="left:<%=event.endwidth%>px;top:-1px;">
	        		</div>

	        		<connection from="#start" to="#stop" color="#00FE83" fromX="0.05" tail onlyVisible></connection>

	        	<%end%>


			</div>
			
		</div>
		
		<div class="goalcard-footer">
			<p class="stage"><%=@goal.fixture.season.competition.name%> • Day <%=@goal.fixture.stage%></p>
			<p><%=@goal.fixture.date%></p>
		</div>

	</div>

</div>






<br>

<ul>

	<%@goalevents.each do |event|%>
		<li>
			Start position = <%=event.startwidth%>px/<%=event.startdepth%>px
		</li>
		<li>
			End position = <%=event.endwidth%>px/<%=event.enddepth%>px
		</li>
		<li>
			Goal coords = <%=event.goalxcoord%>px/<%=event.goalycoord%>px
		</li>
		<li>	
			Eventtype = <%=event.eventtype.name%>
		</li>
		<li>	
			Assist = <%=event.assist%>
		</li>
		<li>	
			Player = <%=event.player.name%>
		</li>
		<br>
	<%end%>

</ul>